.rcw-widget-container {
    /* bottom: 0;
    display: flex;
    flex-direction: column;
    margin: 0 20px 20px 0;
    max-width: 370px;
    position: fixed;
    right: 0;
    width: 90vw; */
    z-index: 15;
}

.rcw-launcher {
    z-index: 15 !important;
}

.rcw-conversation-container.hidden {
    display: none;
    pointer-events: none;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

/* .rcw-conversation-container > .rcw-header {
    background-color: red !important;
} */

.rcw-message > .rcw-response {
    background-color: black;
    color: white;
=======
    z-index: 15 !important;
}

.rcw-launcher{
    right: 20px !important;
}

.rcw-conversation-container.hidden {
    display: none !important;
}

.rcw-conversation-container.active {
    display: block !important;
    transition: opacity .3s ease !important;
}


.MuiTable-root tr td:last-child div {
    justify-content: flex-end;
}