<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

***REMOVED***% load static %***REMOVED***
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %***REMOVED***">
    <script src={% static "js/main.js" %***REMOVED***></script>
***REMOVED***#    <script type="application/javascript" src={% static "js/JQuery.js" %***REMOVED***></script>#***REMOVED***
    <script src={% static "js/Json2.js" %***REMOVED***></script>
***REMOVED***#    <script type="application/javascript" src={% static "js/JQuery.js" %***REMOVED***></script>#***REMOVED***
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
***REMOVED***#    <script src="{% static "js/bootstrap.js" %***REMOVED***"></script>#***REMOVED***

    <title>
    ***REMOVED***% block title %***REMOVED***
    ***REMOVED***% endblock %***REMOVED***
    </title>

</head>

<header>
    <nav class="navbar navbar-dark bg-primary">
        <span class="navbar-brand mb-0 h1">
        ***REMOVED***% block header %***REMOVED***
        ***REMOVED***% endblock %***REMOVED***
        </span>
    </nav>
</header>

<body>
<div class="container-xl pt-5">
***REMOVED***% block content %***REMOVED***
***REMOVED***% endblock %***REMOVED***
</div>
</body>
</html>