<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
***REMOVED***% load static %***REMOVED***
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %***REMOVED***">
    <script src={% static "js/main.js" %***REMOVED***></script>
    <script src={% static "js/Json2.js" %***REMOVED***></script>
***REMOVED***#    <script type="application/javascript" src={% static "js/JQuery.js" %***REMOVED***></script>#***REMOVED***
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
***REMOVED***#    <script src="{% static "js/bootstrap.js" %***REMOVED***"></script>#***REMOVED***
***REMOVED***% block title %***REMOVED***
        <title>Title</title>
***REMOVED***% endblock %***REMOVED***
</head>

<header>
    <nav class="navbar navbar-dark bg-primary">
        <span class="navbar-brand mb-0 h1">Cartridges</span>
    </nav>
</header>
{% block header %***REMOVED***
{% endblock %***REMOVED***
<body>
{% block content %***REMOVED***
{% endblock %***REMOVED***
</body>
</html>