{% extends "Base.html" %***REMOVED***

{% block title %***REMOVED***
    My title
{% endblock %***REMOVED***

{% block header %***REMOVED***
    My header
{% endblock %***REMOVED***

{% block content %***REMOVED***
<body>
<div class="container-xl pt-5">
    <div class="row">
        <table class="table col-xl mx-3">
            <thead class="thead-dark">
            <tr>
            ***REMOVED***#            <th scope="col">#</th>#***REMOVED***
                <th scope="col">Производитель</th>
                <th scope="col">Наименование</th>
                <th scope="col">Количество</th>
            </tr>
            </thead>
            <tbody>
        ***REMOVED***% for cartridge in cartridges %***REMOVED***
                <tr>
                ***REMOVED***#                <th scope="row">{{ cartridge.id ***REMOVED******REMOVED***</th>#***REMOVED***
                    <td><label id="{{ cartridge.manufacturer ***REMOVED******REMOVED***">{{ cartridge.manufacturer ***REMOVED******REMOVED***</label></td>
                    <td><label id="{{ cartridge.name ***REMOVED******REMOVED***">{{ cartridge.name ***REMOVED******REMOVED***</label></td>
                    <td><label id="{{ cartridge.name ***REMOVED******REMOVED***{{ cartridge.count ***REMOVED******REMOVED***">{{ cartridge.count ***REMOVED******REMOVED***</label></td>
                </tr>
        ***REMOVED***% endfor %***REMOVED***
            </tbody>
        </table>
        <table class="table col-xl mx-3">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Время</th>
                <th scope="col">Наименование</th>
                <th scope="col">Количество</th>
                <th scope="col">Выдача</th>
                <th scope="col">
                    <a href="{% url 'new_supply' %***REMOVED***" class="btn btn-sm btn-outline-success" onclick="">Добавить</a>
                </th>
            </tr>
            </thead>
            <tbody>
        ***REMOVED***% for suppl in supply %***REMOVED***
            ***REMOVED***% if suppl.out %***REMOVED***
                    <tr class="alert-danger">
                    ***REMOVED***% else %***REMOVED***
                    <tr class="alert-success">
            ***REMOVED***% endif %***REMOVED***

            <td><label id="{{ suppl.date ***REMOVED******REMOVED***">{{ suppl.date ***REMOVED******REMOVED***</label></td>
            <td>
                <div class="input-group">
                    <label class="input-group-text col-12" id="supplyLabelCart{{ suppl.id ***REMOVED******REMOVED***">{{ suppl.cartridge ***REMOVED******REMOVED***</label>
                ***REMOVED***#                    <input type="text" class="input-group-text col-5" placeholder="{{ suppl.cartridge ***REMOVED******REMOVED***"#***REMOVED***
                ***REMOVED***#                           style="display: none;" id="supplyInputCart{{ suppl.id ***REMOVED******REMOVED***">#***REMOVED***
                </div>
            </td>
            <td>
                <div class="input-group">
                    <label class="input-group-text" id="supplyLabelCount{{ suppl.id ***REMOVED******REMOVED***">{{ suppl.count ***REMOVED******REMOVED***</label>
                    <input type="text" class="input-group-text col-2" placeholder="{{ suppl.count ***REMOVED******REMOVED***"
                           style="display: none;" id="supplyInputCount{{ suppl.id ***REMOVED******REMOVED***">
                </div>
            </td>
            <td><label id="{{ suppl.out ***REMOVED******REMOVED***">{{ suppl.out ***REMOVED******REMOVED***</label></td>
            <td>
                <div class="btn-group" role="group">
                    <button id="btnSupplyChange{{ suppl.id ***REMOVED******REMOVED***" type="button" class="btn btn-sm btn-outline-info"
                            onclick="btnSupplyChangeOrCancel('{{ suppl.id ***REMOVED******REMOVED***', false);">Изменить
                    </button>
                    <button id="btnSupplySubmit{{ suppl.id ***REMOVED******REMOVED***" type="button" style="display: none;"
                            class="btn btn-sm btn-success"
                            onclick="btnSupplySubmit('{{ suppl.id ***REMOVED******REMOVED***', '{{ suppl.cartridge.name ***REMOVED******REMOVED***', '{{ suppl.out ***REMOVED******REMOVED***');">Отправить
                    </button>
                    <button id="btnSupplyCancel{{ suppl.id ***REMOVED******REMOVED***" type="button" style="display: none;"
                            class="btn btn-sm btn-outline-danger"
                            onclick="btnSupplyChangeOrCancel('{{ suppl.id ***REMOVED******REMOVED***', true);">Отмена
                    </button>
                </div>
            </td>
            </tr>
        ***REMOVED***% endfor %***REMOVED***
            </tbody>
        </table>
    </div>
</div>
</body>

{% endblock %***REMOVED***
