<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Заказ</title>
</head>
<body>
<p>ООО «Деловые Линии»</p>
<p>PNK Парк Валищево +7 (916) 5654206 142143, Московская обл, Подольск г, Валищево д, промышленного парка Валищево тер,
    дом № 2, стр 1\n</p>
<p>Прошу предоставить картриджи {{order.cartridge***REMOVED******REMOVED*** в количестве {{order.count***REMOVED******REMOVED*** штук\n</p>
<p>{{ order.destination ***REMOVED******REMOVED***</p>
<p>Системный администратор</p>
<p>Каяндер Максим Эдуардович</p>
<p>89854199347</p>
</body>
</html>