<!doctype html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="utf-8"/>
    <link rel="icon" href="/favicon.ico"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta name="theme-color" content="#000000"/>
    {#    <meta name="description" content="Web site created using create-react-app"/>#}
    <link rel="apple-touch-icon" href="/logo192.png"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" type="text/css" href={% static 'css/react_page.css' %}>
    {#    <link rel="stylesheet" href="index.css"/>#}
    <title>React App</title></head>
<body>
<noscript>You need to enable JavaScript to run this app.</noscript>
<script>
    window.django = {
        {#csrf: "{{ csrf_token }}",#}
        urls: {
            {#logout: "{% url "logout" %}",#}
            {#staticRoot: "{% static "" %}",#}
            {#users: "{% url "emailuser-list" %}"#}
        },
        user: {
            username: "{{ request.user.username }}",
            full_name: "{{ request.user.get_full_name }}",
            last_login: "{{ request.user.last_login }}",
            {#permissions: immutable.Set(#}
            {#    {% autoescape off %}JSON.parse('{{ permissions }}'){% endautoescape %}#}
            {#)#}
        }
    };
</script>
<div id="react-root"></div>
<script src="{% static "js/main.js" %}"></script>
</body>
</html>