{% extends "Base.html" %***REMOVED***

{% load crispy_forms_filters %***REMOVED***
{#{% load crispy_forms_tags %***REMOVED***#***REMOVED***

{% block title %***REMOVED***
    Перемещение картриджей
{% endblock %***REMOVED***

{% block header %***REMOVED***
    Перемещение картриджей
{% endblock %***REMOVED***

{% block content %***REMOVED***
    <form method="post">
    ***REMOVED***% csrf_token %***REMOVED***
            ***REMOVED***{ form|crispy ***REMOVED******REMOVED***
{#    ***REMOVED***% crispy form form.helper %***REMOVED***#***REMOVED***
    <button class="btn btn-outline-primary" type="submit">
        <span>Отправить</span>
    </button>
    </form>
{% endblock %***REMOVED***
